html {
    border: 0.1px solid rgb(118 118 118);
    border-bottom: hidden;
    height: 200%;
}

body {
    background-color: #222;
    color: #e6e6e6;
    font-family: Meiryo, 'Hiragino Kaku Gothic Pro W3', Arial, 'Helvetica Neue', sans-serif;
    font-size: 100%;
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #222;
}

::-webkit-scrollbar-thumb {
    background: rgb(118 118 118);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(99 98 98);
}

.container {
    margin-top: 0.9px;
}

.option-desc {
    color: rgb(160 158 158);
}

.notice {
    font-style: italic;
    opacity: 0.2;
}

h1,
a {
    text-decoration: none;
    border-bottom: 1px solid rgb(118 118 118);
    margin-bottom: 0.86em;
    font-weight: bolder;
    color: rgb(255 118 28);
    margin-top: 0;
}

h2 {
    border-bottom: 1px solid rgb(118 118 118);
    margin-bottom: 0.76em;
    margin-top: 1em;
}

select {
    color: rgb(255 118 28);
    font-weight: bold;
    background-color: #222;
}

input {
    color: rgb(255 118 28);
    font-weight: bold;
    background-color: #222;
    border: 1px solid rgb(118 118 118);
    width: 85px;
}

select option {
    color: rgb(255 118 28);
    font-weight: bold;
}

#state {
    font-weight: bold;
}

button {
    border-radius: 1px;
    padding: 4px 6px;
    text-align: center;
    cursor: pointer;
    color: rgb(255 118 28);
    font-weight: bold;
    border: 1px solid rgb(118 118 118);
    background-color: #222;
}

button:hover {
    background-color: rgb(29 29 29) !important;
}

button:active {
    background-color: rgb(20 20 20) !important;
}

.status {
    font-size: 75%;
    color: rgb(104 100 100);
}

.checkmark {
    color: #14bb3d;
}

.cross {
    color: #bb1414;
}

.sub {
    color: rgb(185 200 201);
}

#status {
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}
